<%
  var config = {
    options: {
      chart: {
        type: "bar",
        height: 250
      },
      plotOptions: {
        bar: {
          colorByPoint: true
        }
      },
      legend: {
        enabled: false
      }
    },
    xAxis: {
      categories: [ "lobby1", "lobby2", "lobby3", "lobby4", "lobby5", "lobby6" ]
    },
    series: [{
      name: "locations",
      data: [
        _.random(500, 1000),
        _.random(500, 1000),
        _.random(500, 1000),
        _.random(500, 1000),
        _.random(500, 1000),
        _.random(500, 1000)
      ]
    }]
  };
%>
<div class="app">
  <div class="app-bg" style="background-image:url(/public/images/background.jpg);"></div>
  <div class="app-content">
    <div class="container-fluid card">
      <div class="row">
        <div class="col-md-9">
          <div class="media">
            <img src="//lh4.ggpht.com/3WooaXkS8KBUFfHnleHW_fCoWTyaY04a-G9U35hvTpxN6_O4djvwhTIwVeSAuy7J5HA=w170-rw" width="150" class="pull-left img-rounded">
            <div class="media-body">
              <dl>
                <dt class="hide">PLATFORM</dt>
                <dd class="h4" style="margin:5px 0">GOOGLE PLAY <small> - 2014.07.21</small></dd>
                <dt class="hide">NAME</dt>
                <dd>
                  <a class="h3" style="display:block;margin-top:0" href="//play.google.com/store/apps/details?id=com.snkplaymore.android003"><strong>METAL SLUG DEFENSE - SNK PLAYMORE</strong> <i class="fa fa-external-link-square"></i></a>
                </dd>
                <dt class="hide">ORIENTATION</dt>
                <dd>HORIZONTAL</dd>
                <dt class="hide">GENRE</dt>
                <dd>STRATEGY</dd>
                <dt class="hide">CURRENCY</dt>
                <dd>KRW</dd>
                <dt class="hide">TIMEZONE</dt>
                <dd>ASIA/SEOUL</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-md-3 text-right" style="margin-top:21px">
          <button class="btn btn-default">DEVELOPER CONSOLE</button>
          <button class="btn btn-default">EDIT</button>
          <button class="btn btn-default btn-danger">DELETE</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid card" ng-controller="ChartsController" data-config="<%= JSON.stringify(config) %>">
  <div class="page-header">
    <h3 class="h4">LOCATIONS <a href="#locationsInfo" data-toggle="collapse"><i class="fa fa-info-circle"></i></a></h3>
    <div id="locationsInfo" class="collapse">
      <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
      <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
      <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
    </div>
  </div>
  <table class="table table-hover" ng-table>
    <tbody>
      <tr ng-repeat="item in [1,2,3,4,5]">
        <td data-title="'LOCATION'" sortable="'temp'">
          lobby{{$index + 1}}
        </td>
        <td data-title="'DESCRIPTION'" sortable="'temp'">
          first location in game
        </td>
        <td data-title="'EXTERNAL CAMPAIGNS'" sortable="'temp'">
          Internal Cross Promotion
        </td>
        <td data-title="'MANAGEMENT'" width="100">
          <button class="btn btn-default">ON</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4">
          <button class="btn btn-default" ui-sref="locations.create">CREATE</button>
        </td>
      </tr>
    </tfoot>
  </table>
  <highchart config="config"></highchart>
</div>
<script>
  angular.module("vp").config(function($stateProvider, $urlRouterProvider){
    $stateProvider
      .state("locations", {})
      .state("locations.create", {
        onEnter: function($stateParams, $state, $modal, $resource){
          $modal.open({
            templateUrl: "/public/templates/locations/create.html"
          });
        }
      })
  });
</script>