<div class="container-fluid card">
  <div class="page-header row">
    <div class="col-sm-6 col-sm-offset-3">
      <h4>INDEX</h4>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="alert alert-warning" role="alert" style="margin-top:10px;">
        앱 생성 폼, 앱 통계 - ACTIVITY 페이지만 인터랙션이 가능합니다.
      </div>
      <dl class="">
        <dt><a href="/apps">APPS</a></dt>
        <dd>
          <p>
            앱 리스트<br>
            FILTER COMPONENT, TABLE
          </p>
        </dd>
        <dt><a href="/apps/create">APPS/CREATE</a></dt>
        <dd>
          <p>
            앱 생성 폼 <br>
            FORM, TYPEAHEAD, CUSTOM SELECT, VALIDATION
          </p>
        </dd>
        <dt><a href="/apps/1">APPS/{ID}</a></dt>
        <dd>
          <p>
            앱 상세 <br>
            BOX-MENU
          </p>
        </dd>
        <dt><a href="/apps/1/locations">APPS/{ID}/LOCATIONS</a></dt>
        <dd>
          <p>
            앱 상세 - 로케이션 세팅<br/>
            NAVBAR, MODAL, COLLAPSE, TABLE-CHART, BAR-CHART
          </p>
        </dd>
        <dt><a href="/apps/1/cohorts">APPS/{ID}/COHORTS</a></dt>
        <dd>
          <p>
            앱 상세 - 코호트 세팅<br/>
            MODAL FORM, SELECT2, DATE-RANGE
          </p>
        </dd>
        <dt><a href="/apps/1/analytics">APPS/{ID}/ANALYTICS</a></dt>
        <dd>
          <p>
            앱 통계<br/>
            GOOGLE-MAP, TABLE-TABLE, CHART-TABLE, BAR-LINE-COMBI-CHART
          </p>
        </dd>
        <dt><a href="/apps/1/analytics/audience">APPS/{ID}/ANALYTICS/AUDIENCE</a></dt>
        <dd>
          <p>
            앱 통계 - AUDIENCE<br/>
            PIE-CHART
          </p>
        </dd>
        <dt><a href="/apps/1/analytics/activity">APPS/{ID}/ANALYTICS/ACTIVITY</a></dt>
        <dd>
          <p>
            앱 통계 - ACTIVITY<br/>
            FIXED-BOTTOM-CHART, DYNAMIC-CHART
          </p>
        </dd>
        <dt><a href="/campaigns">MARKETING</a></dt>
        <dd>
          <p>
            캠페인<br/>
            CALENDAR
          </p>
        </dd>
        <dt><a href="/campaigns/create">CAMPAIGNS/CREATE</a></dt>
        <dd>
          <p>
            캠페인 생성 폼<br/>
            ACCORDIAN FORM
          </p>
        </dd>
      </dl>
    </div>
  </div>
</div>