<script type="text/ng-template" id="menu_template.html">
  <a ng-href="{{branch.href}}" ng-if="!branch.label.isObject">
    {{branch.label}}
  </a>
  <a ng-href="{{branch.href}}" ng-if="branch.label.isObject" class="media active">
    <img src="//lh4.ggpht.com/3WooaXkS8KBUFfHnleHW_fCoWTyaY04a-G9U35hvTpxN6_O4djvwhTIwVeSAuy7J5HA=w170-rw" width="68" class="pull-left">
    <span class="media-body" style="display:block;color:#666">
      <strong href="#" style="display:block;color:#eee">
        METAL SLUG DEFENCE
      </strong>
      <small style="display:block;margin-bottom:15px;">
        SNK PLAY MORE | STRATEGY
      </small>
      <small style="display:block;line-height:11px">
        “METAL SLUG DEFENSE” breaks a new record again
      </small>
    </span>
  </a>
  <ul class="list-unstyled tree" ng-if="branch.children.length > 0">
    <li ng-repeat="branch in branch.children" ng-include src="'menu_template.html'"></li>
  </ul>
</script>
<i class="vp-menu-btn fa fa-bars fa-2x"></i>
<div class="vp-menus" ng-controller="MenuController">
  <h1 href="/">VALUE POTION</h1>
  <ul class="list-unstyled tree">
    <li ng-repeat="branch in tree" ng-include src="'menu_template.html'"></li>
  </ul>
</div>