<form rule="form" name="form" class="campaign" ng-controller="CampaignFormController" ng-cloak>
  <div class="container-fluid card">
    <div class="page-header row">
      <div class="col-md-3 col-sm-offset-3">
        <h4>CREATE <a href="#campaignFormHelp" data-toggle="collapse"><i class="fa fa-info-circle"></i></a></h4>
      </div>
      <div class="col-md-3">
        <select ng-model="campaigntype" ng-options="campaigntype as campaigntype.name for campaigntype in campaigntypes" class="form-control">
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-offset-3">
        <div id="campaignFormHelp" class="collapse">
          <p>Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla.</p>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Donec id elit non mi porta gravida at eget metus. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-pane active">
    <div class="container-fluid card">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="app-bg" style="background-image:url({{app.img_url}})"></div>
          <div class="form-group important-form-group">
            <label>APP <i class="fa fa-caret"></i></label>
          </div>
          <div class="form-group important-form-group">
            <div class="input-group">
              <input ng-model="app" typeahead="app as app.name for app in apps | filter:$viewValue | limitTo:8" type="text" class="form-control" placeholder="APP *" required>
              <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-pane">
    <div class="container-fluid card">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group important-form-group">
            <label>CAMPAIGN <i class="fa fa-caret"></i></label>
          </div>
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="onoff" checked>ON
            </label>
            <label class="radio-inline">
              <input type="radio" name="onoff">OFF
            </label>
          </div>
          <div class="form-group important-form-group">
            <select ng-model="campaignsubtype" ng-options="subtype as subtype.name for subtype in campaignsubtypes" class="form-control">
            </select>
          </div>
          <div class="form-group important-form-group">
            <input type="text" class="form-control" placeholder="CAMPAIGN NAME *">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="CAMPAIGN DESCRIPTION *">
          </div>
          <div class="form-group important-form-group">
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="start_date" is-open="startDatePickerOpened" show-button-bar="false" max-date="end_date" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event);"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="end_date" is-open="endDatePickerOpened" show-button-bar="false" min-date="start_date" class="form-control" placeholder="END DATE">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event);"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-pane">
    <div class="container-fluid card">
      <div class="row content-image-row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group important-form-group">
            <label>CONTENT <i class="fa fa-caret"></i></label> <a href="#contentHelp" data-toggle="collapse"><i class="fa fa-info-circle"></i></a>
            <div id="contentHelp" class="collapse">
              <p class="help-block">
                ※ When you upload image, it is optimized for smartphone in game.<br/>
                ※ Required image size: Horizontal 1500*1000, Vertical 1000*1500 under 1MB<br/>
                ※ When you use this option 'no display today', we recommend you not to put text on the right side of the bottom.<br/>
                ※ This option works on SDK version 1.0.11 and above.
              </p>
            </div>
          </div>
          <div class="card-list">
            <div class="card" ng-repeat="content in contents">
              <div class="media" >
                <div class="thumb-btn-wrap pull-left text-center">
                  <button type="button" class="btn btn-default thumb-btn {{content.orientation}}-thumb-btn" ng-model="bg" style="background-image:url({{content.img_url}})" ng-click="openContentModal(content);">
                    <span class="text-muted">
                      <span class="fa fa-2x fa-image"></span><br/>
                      {{content.orientation.toUpperCase()}}
                    </span>
                  </button>
                </div>
                <div class="media-body">
                  <div class="form-group">
                    <label class="radio-inline">
                      <input type="radio" ng-model="content.orientation" value="landscape">LANDSCAPE
                    </label>
                    <label class="radio-inline">
                      <input type="radio" ng-model="content.orientation" value="portrait">PORTRAIT
                    </label>
                    <button class="btn btn-default btn-xs pull-right" ng-hide="contents.length < 2" ng-click="removeContent(content)"><i class="fa fa-times"></i></button>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="IMAGE NAME" ng-model="content.name">
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="IMPRESSION WEIGHT" ng-model="content.weight">
                      <span class="input-group-addon">%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <button type="button" class="btn btn-default btn-danger btn-block" ng-click="addContent()">ADD</button>
            </div>
          </div>
        </div>
        <div class="col-sm-3 content-chart-wrap">
          <highchart config="contentChartConfig" class="content-chart"></highchart>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group">
            <select class="form-control">
              <option>NO ACTION</option>
              <option>OPEN URL</option>
            </select>
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" >
              SHOW NO DISPLAY TODAY
            </label>
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" checked>
              CLOSE AFTER CLICK
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-pane">
    <div class="container-fluid card">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <label>IMPRESSION <i class="fa fa-caret"></i></label>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6" ng-repeat="placement in placements">
                <label class="checkbox-inline" tooltip="{{placement.description}}">
                  <input type="checkbox" ng-model="placement.isActive"> {{placement.name}}
                </label>
              </div>
            </div>
          </div>
          <div class="form-group important-form-group">
            <select class="form-control">
              <option>APPLY TO ALL USERS</option>
            </select>
          </div>
          <div class="form-group important-form-group">
            <select class="form-control">
              <option>APPLY TO ALL CONDITIONS</option>
            </select>
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox"> APPLY TO TEST DEVICES
            </label>
            <p class="help-block">
              ※ If you select option 'show in test device', this campaign is placed following 24 hours
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <button class="btn btn-primary btn-block">CREATE</button>
      </div>
    </div>
  </div>
</form>
