<form rule="form" name="form" class="campaign" ng-controller="CampaignFormController" ng-cloak>
  <div class="container-fluid card">
    <div class="page-header row">
      <div class="col-md-3 col-sm-offset-3">
        <h4>CREATE <a href="#"><i class="fa fa-info-circle"></i></a></h4>
      </div>
      <div class="col-md-3">
        <select ng-model="campaigntype" ng-options="campaigntype as campaigntype.name for campaigntype in campaigntypes" class="form-control">
        </select>
      </div>
    </div>
  </div>
  <div class="form-pane active">
    <div class="container-fluid card">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group important-form-group">
            <label>APP</label>
          </div>
          <div class="form-group">
            <img class="img-rounded app-img" ng-src="{{app.img_url}}" width="150" height="150">
          </div>
          <div class="form-group important-form-group">
            <div class="input-group">
              <input ng-model="app" typeahead="app as app.name for app in apps | filter:$viewValue | limitTo:8" type="text" class="form-control" placeholder="APP *" required>
              <span class="input-group-btn">
                <button class="btn btn-default"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid card">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group important-form-group">
            <label>CAMPAIGN</label>
          </div>
          <div class="form-group">
            <label class="radio-inline">
              <input type="radio" name="onoff">ON
            </label>
            <label class="radio-inline">
              <input type="radio" name="onoff">OFF
            </label>
          </div>
          <div class="form-group important-form-group">
            <select ng-model="campaignsubtype" ng-options="subtype as subtype.name for subtype in campaignsubtypes" class="form-control">
            </select>
          </div>
          <div class="form-group important-form-group">
            <input type="text" class="form-control" placeholder="CAMPAIGN NAME *">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="CAMPAIGN DESCRIPTION *">
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="start_date" is-open="startDatePickerOpened" show-button-bar="false" max-date="end_date" class="form-control">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event);"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="input-group">
                  <input type="text" datepicker-popup="yyyy-MM-dd" ng-model="end_date" is-open="endDatePickerOpened" show-button-bar="false" min-date="start_date" class="form-control" placeholder="END DATE">
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openCalendar($event);"><i class="fa fa-calendar"></i></button>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-pane">
    <div class="container-fluid card">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="form-group important-form-group">
            <label>CONTENT</label> <a href="#contentHelp" data-toggle="collapse"><i class="fa fa-info-circle"></i></a>
            <div id="contentHelp" class="collapse">
              <p class="help-block">
                ※ When you upload image, it is optimized for smartphone in game.<br/>
                ※ Required image size: Horizontal 1500*1000, Vertical 1000*1500 under 1MB<br/>
                ※ When you use this option 'no display today', we recommend you not to put text on the right side of the bottom.<br/>
                ※ This option works on SDK version 1.0.11 and above.
              </p>
            </div>
          </div>
          <div class="form-group important-form-group">
            <div class="media card">
              <div class="thumb-btn-wrap pull-left text-center">
                <button type="button" class="btn btn-default thumb-btn {{orientation}}-thumb-btn" ng-model="bg" style="background-image:url({{app.img_url}})">
                  <span class="text-muted">
                    <span class="fa fa-2x fa-image"></span><br/>
                    {{orientation.toUpperCase()}}
                  </span>
                </button>
              </div>
              <div class="media-body">
                <div class="form-group important-form-group">
                  <label class="radio-inline">
                    <input type="radio" name="orientation" ng-model="orientation" value="landscape">LANDSCAPE
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="orientation" ng-model="orientation" value="portrait">PORTRAIT
                  </label>
                </div>
                <div class="form-group important-form-group">
                  <input type="text" class="form-control" placeholder="IMAGE NAME">
                </div>
                <div class="form-group important-form-group">
                  <input type="text" class="form-control" placeholder="IMPRESSION WEIGHT">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" >
              NO DISPLAY TODAY OPTION
            </label>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>OPEN URL</option>
            </select>
          </div>
          <div class="form-group">
            <label class="checkbox-inline">
              <input type="checkbox" >
              CLOSE AFTER CLICK
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
