<!DOCTYPE html>
<html>
<head>
  <% include ../include/head.ejs %>
</head>
<body ng-app="vp" class="vp-app">
  <div class="vp-side" id="vpSide">
    <% include ../include/side.ejs %>
  </div>
  <div class="vp-body">
    <% include ../include/nav-top.ejs %>
    <%- body %>
  </body>
</html>
