// Core variables and mixins
@import "variables.less";
@import "mixins.less";
@import "ng-table.less";

@transition: all .33s cubic-bezier(.694, .0482, .335, 1);
@transitionWidth: width .33s cubic-bezier(.694, .0482, .335, 1);

body {
  overflow-x:hidden;
}

.card {
  display:block;
  border-bottom:1px solid @table-border-color;
}

.vp-app {
  .vp-side {
    position: fixed;
    top:0;
    bottom:0;
    width: 37px;
    background-color: lighten(@navbar-inverse-bg, 10%);
    z-index:1;
    .transition(@transitionWidth);

    .vp-menu-btn {
      position:absolute;
      left:8px;
      margin-top:14px;
      opacity: 1;
      .transition(@transition);
    }

    .vp-menus {
      position: relative;
      left: -252px;
      width: 252px;
      opacity: 0;
      .transition(@transition);
      h1 {
        color:#a4aab2;
        padding:16.5px 15px 17px;
        margin:0;
        font-size:15px;
        line-height:17px;
        height:50px;
        border-bottom:1px solid #444;
      }
    }

    &:hover {
      width: 252px;
      .vp-menu-btn {
        opacity: 0;
      }
      .vp-menus {
        left: 0px;
        opacity: 1;
      }
    }
  }
  .vp-body {
    position:relative;
    left:0;
    min-height:853px;
    border-top: 1px solid @brand-primary;
    margin-top: 51px;
    margin-left: 37px;
    background-color:@body-bg;
    z-index:2;
    .transition(@transition);

    .navbar-fixed-top, .navbar-fixed-bottom {
      left:0px;
      margin-left: 37px;
      .transition(@transition);
    }
  }

  .vp-side:hover + .vp-body {
  // .vp-side + .vp-body {
    left:215px;
    .navbar-fixed-top, .navbar-fixed-bottom {
      left:215px;
    }
  }
}

.tree {
  // padding:@padding-base-vertical * 2 0;
  margin-bottom:0;
  font-size:13px;
  > li {
    > a {
      display:block;
      padding:5px 15px;
      border-top:1px solid transparent;
      border-bottom:1px solid transparent;
      border-left:1px solid transparent;
      font-weight:bold;
      color:lighten(@navbar-inverse-link-color, 20%);
      background-color: lighten(@navbar-inverse-bg, 8%);
      &:hover, &:active {
        color:@navbar-inverse-link-hover-color;
        border-top:1px solid darken(@navbar-inverse-link-active-bg, 20%);
        border-bottom:1px solid lighten(@navbar-inverse-link-active-bg, 20%);
        border-left:1px solid darken(@brand-primary, 20%);
        background-color: @navbar-inverse-link-active-bg;
        text-decoration: none;
      }
      &:last-child {
        border-bottom: 0;
      }
      &.active {
        color: @navbar-default-link-active-color;
        border-left: 1px solid @link-color;
        background-color: #fff;
      }
      &:after {
        content:"\f0da";
        font-family: FontAwesome;
      }
    }
    > .tree {
      font-size:@font-size-base;
      padding:0;
      margin-bottom:-1px;
      > li {
        > a {
          padding:2px 15px;
          font-weight:normal;
          color:@navbar-inverse-link-color;
          background:transparent;
          &:hover, &:active {
            color:@navbar-inverse-link-hover-color;
            background-color: @navbar-inverse-link-active-bg;
          }
          &:after {
            content:"";
          }
        }
        > .tree {
          font-size:@font-size-small;
          > li {
            > a {
              padding-left: 25px;
            }
          }
        }
      }
    }
  }
  &:last-child {
    // border-bottom-color:transparent;
  }
}

.app {
  position:relative;
  overflow:hidden;
  padding-top:200px;
  .app-bg {
    position:absolute;
    top:-@padding-base-vertical;
    right:-@padding-base-vertical;
    left:-@padding-base-vertical;
    height:200px;
    background-size:cover;
    background-position:50% 0%;
    background-repeat:no-repeat;
    opacity:0.2;
    -webkit-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    filter:blur(4px);
  }
  .app-content {
    position:relative;
    background-color:@body-bg;
    &:before {
      content:"";
      position:absolute;
      top:-50px;
      left:0;
      right:0;
      height:50px;
      #gradient > .vertical(@start-color: rgba(255,255,255,0); @end-color: @body-bg);
    }
    .h3 {
      margin-top:0
    }
  }
  .app-btn-group {
    margin-top:21px;
  }
}

form.app {
  .app-bg {
  }
  .app-content {
    .card {
      margin-bottom:15px;
    }
  }
  .bg-btn {
    position:absolute;
    display:block;
    top:75px;
    left:50%;
    margin:0 auto;
    margin-left:-43px;
  }
  .thumb-btn {
    width:150px;
    height:150px;
    background-size:cover;
  }
}

// override full calendar
.fc-header {
   margin: (@line-height-computed * 2) 0 @line-height-computed;
}
.fc-button {
  height:auto;
  line-height:auto;
}
.fc-text-arrow {
  font-size:.9em;
}
.fc-header-title h2 {
  font-size:@font-size-h4;
  &:before {
    content: "SCHEDULES on ";
  }
}

// google maps
.angular-google-map-container {
  border-top:2px solid #ddd;
  border-bottom:1px solid #ddd;
  height: 400px;
}

// override font awesome
.fa-border {
  border-color:#ccc;
}