<div class="form-group">
  <label>NAME</label>
  <input type="text" class="form-control" placeholder="LOCATION NAME">
</div>
<div class="form-group">
  <label>DESCRIPTION</label>
  <input type="text" class="form-control" placeholder="LOCATION DESCRIPTION">
</div>
<div>
  <label>EXTERNAL CAMPAIGN</label>
  <div class="checkbox" style="margin-top:0">
    <label>
      <input type="checkbox" value="">
      Internal Cross Promotion
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Direct Deal
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      Ad Network
    </label>
  </div>
</div>
</div>
